{{outlet}}


<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Monkeys</h2>
  <p>
    The Super Monkeys website is a delightful project created to explore Ember.
    By building a property Monkey site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
  {{#link-to 'contact' class="button"}}
    Get Started!
  {{/link-to}}
</div>